.min-max-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .min-max-input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .slider-label {
      font-size: smaller;
      color: rgba(255, 255, 255, 0.862);
    }
  }
}

.slider-input {
  width: 20%;
  height: 20px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.min-max-slider-container {
  position: relative;
  display: flex;
  cursor: pointer;

  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 2px;

  .min-max-slider-fill {
    position: absolute;
    left: 0;
    border: 2px solid white;
    border-radius: 2px;
  }

  .min-max-knob {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 0;
    background-color: white;
    border-radius: 50%;
    cursor: grab;
  }
}
