.nav-container {
  position: absolute;
  width: 153px;
  height: 61px;
  float: right;
  top: 49px;
  left: 912px;
  display: inline-flex;

  a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.4px;
    padding: 20px 20px 0;

    &.active,
    &:hover {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #b0b69a;
      color: #000;
    }
  }
}
