.nav-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.4px;
    padding: 15px 15px 0;

    &.active,
    &:hover {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #b0b69a;
      color: #000;
    }
  }
}
