.map-info {
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  /* width: 300px; */

  button {
    max-width: 175px;
  }
}

.map-hover-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  color: black;
}

.map-scale {
  box-sizing: border-box;
  display: flex;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 10px;
}
