.map-info {
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  /* width: 300px; */

  button {
    max-width: 120px;
  }
}
